// app global css
.fit.register{
	margin-left: 0;
	margin-top: 15px;
}
.specification
	h1
		margin: 0
		font-size: 2em
		font-weight: 400;
		margin: 10px 0;
	h2
		margin: 0
		font-size: 1.5em
		font-weight: 400;
		margin: 10px 0;

.action-admin-col
	//max-width: 130px;
	//min-width: 130px;
	button+button
		margin-left:10px;

.q-table-top
	border-bottom: 1px solid #e0e0e0
	background: #f8f8f8
table.table
	margin: 0 auto;
	color: #333; /* Lighten up font color */
	font-family: Helvetica, Arial, sans-serif; /* Nicer font */
	//width: 640px; 
	border-collapse: 
	collapse; border-spacing: 0; 
	td, th { border: 1px solid #CCC; height: 30px; } /* Make cells a bit taller */

	th {  
	    background: #F3F3F3; /* Light grey background */
	    font-weight: bold; /* Make sure they're bold */
	}

	td {
		padding: 0 15px;
	    background: #FAFAFA; /* Lighter grey background */
	    text-align: center; /* Center our text */
	}
	td:first-child
		background: #eee